@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.shimmer {
  @apply relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1s_infinite] before:bg-gradient-to-r before:from-transparent before:to-transparent;
}

.shimmer-gray-200 {
  @apply bg-gray-200 shimmer before:via-gray-500/50 before:animate-[shimmer_1s_infinite];
}

.vertical-scrollbar,
.dash-vertical-scrollbar,
.zero-size-vertical-scrollbar {
  overflow-y: scroll;
}

.horizontal-scrollbar,
.dash-horizontal-scrollbar,
.zero-size-horizontal-scrollbar {
  overflow-x: scroll;
}

.zero-size-vertical-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.zero-size-horizontal-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.vertical-scrollbar::-webkit-scrollbar,
.dash-vertical-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(19 78 74 / 0.3);
  border-radius: 20px;
}

.horizontal-scrollbar::-webkit-scrollbar,
.dash-horizontal-scrollbar::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(19 78 74 / 0.3);
  border-radius: 20px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb,
.vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(19 78 74);
  border-radius: 20px;
}
.dash-horizontal-scrollbar::-webkit-scrollbar-thumb,
.dash-vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(107, 33, 168);
  border-radius: 20px;
}

.custom-otp-input-sample:focus {
  outline: 2px solid var(--primary-color);
}

.custom-otp-input-sample:first-child,
.custom-otp-input-sample:nth-child(4) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.custom-otp-input-sample:nth-child(4) {
  margin-left: 1em;
}

.custom-otp-input-sample:nth-child(3),
.custom-otp-input-sample:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--surface-400);
}

.spin {
  animation: 0.8s anim_spin linear infinite;
}

@keyframes anim_spin {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  0% {
    rotate: 360deg;
  }
}
